html { font-family: sans-serif; text-align: center; }
body { background: #eefefe; }
table { text-align: center; border-collapse: collapse; margin: 0 auto 1em; }
th, td { border-right: 4px solid #fff; }
th { padding: .5em; text-align: right; background: #ddd; }
tr { border-top: 2px solid #fff; background: #eee; }
input[type="checkbox"] { display: none; }
input[type="checkbox"]:checked + label { background: rgb(160, 210, 160); }
label {
  display: block;
  padding: .5em;
  user-select: none;
}
h1 { margin-bottom: 0; }
.results {
  display: flex;
  margin: 0 auto;
  width: 450px;
}
.results figure {
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.results figcaption { margin-top: .5em; }
.results div {
  transition: all .5s ease-in-out;
  box-sizing: border-box;
  padding-top: .25em;
  height: 2px;
  background: rgb(160, 210, 160);
}

button {
  font-size: inherit;
  border: 1px solid #666;
  border-radius: 4px;
  background: #ddd;
  width: 8em;
  height: 2em;
  margin: 0 6px
}
button:hover {
  background: rgb(160, 210, 160);
}
